<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="main">
        <ul class="navbar">
            <li><a href="#home" id="logo"><i><strong>My Diary</strong> </i></a></li>
            <li><a href="./modify.html">Add Entries</a></li>
            <li><a id="Logout" href="./templates/Logout.html">Logout</a></li>

        </ul>
        <table>
                <tr>
                  <th>Date</th>
                  <th>Title</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>22nd/Wednesday/2018</td>
                  <td>Wat an experience</td>
                  <td><button type="View">view</button><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                  
                </tr>
                <tr>
                  <td>23rd/Thursday/2018</td>
                  <td>Such a bad day</td>
                  <td><button type="view">view</button><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                </tr>
                <tr>
                  <td>24th/Friday/2018</td>
                  <td>Best day of my Life</td>
                  <td><button type="view">View</button><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                </tr>
                
              </table>
              
              
              

        <div>
                
        
            </div>
        


    </div>
    

</body>

</html>