<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="main">
        <ul class="navbar">
            <li><a href="#home" id="logo"><i><strong>My Diary</strong> </i></a></li>
            <li><a href="./modify.html">Add Entries</a></li>
            <li><a id="Logout" href="../../index.html">Logout</a></li><a a href="Logout"></a>

        </ul>
        <table>
                <tr>
                  <th>Date</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>22nd/Wednesday/2018</td>
                  <td>Wat an experience</td>
                  <td>Its such a great way to explore a new place. Sure, you could take an Uber, but when you're on a bike you can slow down and really take in the sights of a new city. Plus, you get a workout in.ooh it was great</td>
                  <td><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                  
                </tr>
                <tr>
                  <td>23rd/Thursday/2018</td>
                  <td>Such a bad day</td>
                  <td> Experiencing rejection is a good thing. Chances are that you'll experience it in life unless you're hiding under a rock. Rejection builds resilience. It teaches you to learn from your failures. It teaches you how to persevere, the single most valuable skill a person can have in their life though it can be hurting.</td>
                  <td><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                </tr>
                <tr>
                  <td>24th/Friday/2018</td>
                  <td>Best day of my Life</td>
                  <td> Because sometimes it's good for you to get out of your comfort zone. It'll remind you to stretch yourself to see what you're capable of. Plus it's a ton of fun and a great way to meet people.</td>
                  <td><button type="Edit">Edit</button><button type="Delete">Delete</button></td>
                </tr>
                
              </table>
              
              
              

        <div>
                
        
            </div>
        


    </div>
    

</body>

</html>