<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Diary</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <ul class="navbar">
        <li><a href="#home" id="logo"><i><strong>My Diary</strong> </i></a></li>
        <li><a href="entries.html">View Entries</a></li>
        <li><a id="Logout" href="../../index.html">Logout</a></li>
    </ul>
    <div class="main">
        <div>
            <label for="Date">Date</label>
            <input type="text" id="Date"><br><br>
        </div>
        <div>
            <label for="Title">Title</label>
            <input type="text" id="Title"><br><br>
        </div>
        <div>
            <label for="Description">Description</label>
            <input type="text" id="Description"><br><br>
        </div>
    
        <a href="entries.html"><button id="btnlogin">Save</button>
        <br>
    </div>
    
    
</body>
</html>