<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>My Diary</title>
</head>

<body>
    <ul class="navbar">
        <li><a href="#home" id="logo"><i><strong>My Diary</strong> </i></a></li>
        <li><a href="#about">About</a></li>
        <li><a id="login" href="../../index.html">login</a></li>
    </ul>
    <div class="main">
        <div>
            <label for="First name">First name</label>
            <input type="text" id="First name"><br><br>
        </div>
        <div>
            <label for="Last name">Last name</label>
            <input type="text" id="Last name"><br><br>
        </div>
        <div>
            <label for="Username">username</label>
            <input type="text" id="Username"><br><br>
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" id="email"><br><br>
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="text" id="Password"><br><br>
        </div>
        <div>
            <label for="Confirm password">Confirm Password</label>
            <input type="text" id="Confirm password"><br><br>
        </div>
        <div>
            <a href="../../index.html"><button id="btnlogin">Submit</button></a>
            <br>
            

        </div>
    </div>

</body>

</html>